.formulario {
    border-radius: 15;
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    width: max-content;
    align-content: center;
    padding: 40px;
    margin-bottom: 30px;
}

input[type="text"] {
    text-align: right;
    border-width: 1px;
    border-color: lightskyblue;
}

#pantalla {
    margin-top: 25px;
    height: 100px;
    padding: 40px;
    font-size: large;
    font-weight: bold;
}
